.username{
         color: rgb(206, 109, 12);
    }
    .posts img{
      border-radius: inherit;
      width: 300px;
      height: 200px;
    }
    .posts{
      display: flex;
    }
    .posts div{
      border-radius: 10px;
      color: aliceblue;
      background-color: black;
      margin: 12px;
      transition: 0.5s scale;
    }
    .posts div:hover{
      scale: 1.05;
    }

    .desc{
      margin-left: 5px;
      background-color: #fff;
      color: black;
    }